body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 500px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(2, 2, 2);
}

p{
    font-size: 15px;
    line-height: 1.0;
    text-align: justify;
    
    background: url('./bb.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
}